<!DOCTYPE html>
<html>

<head>
	<%- include('./partials/head'); %>
		<title>Inventory List</title>
</head>

<body class="invBody">
	<%- include('./partials/nav'); %>
		<span class="invPage">
			<table>
				<tr>
					<th>Item Number</th>
					<th>Description</th>
					<th>Qty</th>
					<th>Type</th>
					<th>Min Qty</th>
					<th>Mfg Part</th>
					<th>Location</th>
					<th></th>
				</tr>

				<% for (var i=0; i < data.length; i++) { %>
					<tr>
						<td>
							<%= data[i].ItemNumber %>
						</td>
						<td>
							<%= data[i].Description %>
						</td>
						<td>
							<%= data[i].CurrentQty %>
						</td>
						<td>
							<%= data[i].InventoryType===0 ? 'Piece' : 'Bulk' %>
						</td>
						<td>
							<%= data[i].MinQty %>
						</td>
						<td>
							<%= data[i].Manufacturer + ' ' + data[i].PartNumber %>
						</td>
						<td>
							<%= data[i].Location %>
						</td>
						<td><input type="button" class="button" onclick="editTableRow('<%= data[i].ItemNumber %>')"
								value="Edit" /></td>
					</tr>
					<% } %>
			</table>
		</span>
</body>

<script src="js/bootstrap.min.js"></script>
<script src="/js/site.js"></script>

</html>